.root{
    -fx-background-color: white;
   
    -fx-border-radius: 2px;
}
.vbox1{
    -fx-background-color: #0000e6;
}
.btnadmin{
  -fx-background-color:#8fe8fc;
  -fx-text-fill:#0000e6 ;
}

.btnadmin:hover{
  -fx-background-color:transparent;
  -fx-text-fill: #0000e6 ;
  -fx-border-radius: 10px;
  -fx-border-color: #ccccff;
}
.btnauditor{
  -fx-background-color:#8fe8fc;
  -fx-text-fill:#0000e6;
}

.btnauditor:hover{
  -fx-background-color:transparent;
  -fx-text-fill: #0000e6 ;
  -fx-border-radius: 10px;
  -fx-border-color: #ccccff;
}
.auditorView{
    -fx-background-color:  #ffb3ff;
}
.btn_supplier_auditorView{
   -fx-background-color:   #e600e6;
   -fx-text-alignment: center;
   -fx-text-fill:#391039;
   -fx-border-radius: 20px;
}

.btn_brand_auditorView{
   -fx-background-color:  #e600e6;
   -fx-text-alignment: center;
   -fx-text-fill:#391039;
   -fx-border-radius: 20px;
}
.btn_category_auditorView{
   -fx-background-color:  #e600e6;
   -fx-text-alignment: center;
   -fx-text-fill:#391039;
   -fx-border-radius: 20px;
}
.btn_products_auditorView{
   -fx-background-color:  #e600e6;
   -fx-text-alignment: center;
   -fx-text-fill:#391039;
   -fx-border-radius: 20px; 
    
}
.btn_supplier_auditorView:hover{
   -fx-background-color:  #bf00ff;
}

.btn_products_auditorView:hover{
   -fx-background-color:  #bf00ff;
}
.btn_brand_auditorView:hover {
    -fx-background-color:  #bf00ff;
}
.btn_category_auditorView:hover{
    -fx-background-color:  #bf00ff;
}
.btn_add_supplier{
    -fx-background-color: #e600e6;
    -fx-text-fill: #391039;
    -fx-text-style:bold;
 }
.btn_update_supplier{
   -fx-background-color: #e600e6;
    -fx-text-fill: #391039;
    -fx-text-style:bold;
 }
 .btn_delete_supplier{
   -fx-background-color: #e600e6;
    -fx-text-fill: #391039;
    -fx-text-style:bold;
 }    
 .btn_add_supplier:hover{
    -fx-background-color: #bf00ff; 
 }
  .btn_update_supplier:hover{
    -fx-background-color:  #bf00ff; 
 }
  .btn_delete_supplier:hover{
    -fx-background-color: #bf00ff; 
 }
 .btn_load_supplier_details{
     
   -fx-background-color: #e600e6;
   -fx-text-fill:#391039;
 
 }

 .AddSupplierOverview{
    -fx-background-color:  #ffff4d ;
    -fx-border-radius:10px;
    -fx-border-width: 2px;
    -fx-border-color:   #000066;
 }

 .btn_back_inaddsupplier{
     
     -fx-background-color:#cccc00;
     -fx-text-fill: #4d4d00;
 }
 .btn_add_supplier1{
     -fx-background-color:#cccc00;
     -fx-text-fill: #4d4d00;
     -fx-border-radius:20px;
 }
 .UpdateSupplierOverview{
    -fx-background-color:  #ffff4d ;
    -fx-border-radius:10px;
    -fx-border-width: 2px;
    -fx-border-color:   #000066;
  }
.btn_update_supplier1{
     -fx-background-color:#cccc00;
     -fx-text-fill: #4d4d00;
     -fx-border-radius:20px;
 }
 .btn_load_supdetails{
     -fx-background-color:#cccc00;
     -fx-text-fill: #4d4d00;
     -fx-border-radius:20px;
 }
 .btn_back_inupdatesupplier{
     -fx-background-color:#cccc00;
     -fx-text-fill: #4d4d00;
     -fx-border-radius:20px;
 }
 .DeleteSupplierOverview{
     -fx-background-color:  #ffff4d ;
    -fx-border-radius:10px;
    -fx-border-width: 2px;
    -fx-border-color:   #000066;
     
 }
 .btn_load_supdetails_todelete{
     -fx-background-color:#cccc00;
     -fx-text-fill: #4d4d00;
     -fx-border-radius:20px;
}
.btn_delete_suppliers{
     -fx-background-color:#cccc00;
     -fx-text-fill: #4d4d00;
     -fx-border-radius:20px;   
}
.btn_back_indeletesupplier{
    -fx-background-color:#cccc00;
     -fx-text-fill: #4d4d00;
     -fx-border-radius:20px;   
    
}